<html>
<head>
<title>ResellerCID List</title>
<link rel="stylesheet" TYPE="text/css" href="/glm.css">
</head><body>
[% IF ErrStr %]<p class="error">[% ErrStr %]</p>
[% ELSE %]
[% IF Processing_Error %]<p class="error">[% Processing_Error %]</p>[% END %]
<h2>Reseller Caller Id for [% RS_Name %] [[% RS_Number %]]</h2>
<!-- [% X_Sql %] --!>
<form action="/pg/ResellerCIDList" method="post" enctype="multipart/form-data">
<input type="hidden" name="RS_Number" value="[% RS_Number %]">
<input type="hidden" name="X_Method" value="AddNew">
<table class="editForm" cellspacing="2">
<tr>
	<td class="editFormLabel">Caller ID(s)<br/>(1 per line)</td>
	<td class="editFormInput"><textarea lines="5" cols="14" name="RC_CallerId"></textarea>
[% IF RC_CallerId_ERROR %]<div class="editFormError">[% RC_CallerId_ERROR %]</div>[% END %]</td>
</tr>
<tr>
	<td class="editFormLabel">Default?</td>
	<td class="editFormInput"><input class="editForm" type="checkbox" 
		[% IF RC_DefaultFlag == 'Y' %]checked="true"[% END %]
		name="RC_DefaultFlag"></input></td>
</tr>
<tr><td colspan="2" class="editFormButtons"><input name="method" type="submit" value="Add New"></input></td></tr>
</table></form><br/>
<div class="help-tip" style="width: 500px">
Deleting a CID will remove it from any customers and projects, there is no undo!
</div>
<table><tr>
[% FOREACH colhdr IN [ 'Caller ID', 'Default', 'Created', 'Delete' ] %]
<th class="basiclist-col">[% colhdr %]</th>
[% END %]
</tr>
[% FOREACH row IN List %]
<tr>
<td class="basiclist">[% row.RC_CallerId %]</td>
<td class="basiclist">
	<form action="/pg/ResellerCIDList" method="post" enctype="multipart/form-data">
	<input type="hidden" name="RS_Number" value="[% RS_Number %]">
	<input type="hidden" name="X_Method" value="FlipDefault">
	<input type="hidden" name="RC_CallerId" value="[% row.RC_CallerId %]">
	<input name="method" type="submit" title="Press to flip it"
[% IF row.RC_DefaultFlag == 'Y' %]value="Yes"[% ELSE %]value="No"[% END %]
	></input>
	</form>
</td>
<td class="basiclist">[% row.RC_CreatedOn %]</td>
<td class="basiclist">
	<form action="/pg/ResellerCIDList" method="post" enctype="multipart/form-data">
	<input type="hidden" name="RS_Number" value="[% RS_Number %]">
	<input type="hidden" name="RC_CallerId" value="[% row.RC_CallerId %]">
	<input type="hidden" name="X_Method" value="Delete">
	<input name="method" type="submit" value="Delete"></input>
	</form>
</td>
</tr>
[% END %]
</table>
[% END %]
</body></html>
